.block-views-blockview-about-block-1{
    .view-view-about{
        margin-top: 103px;
        .views-row{
            display: flex;
            gap:22px;
            padding: 8px 0 1px;
            text-transform: uppercase;
            font-family: 'Avenir LT Pro';
            border-top: 5px solid #000;
            border-bottom: 5px solid #6E9BCA;
            span a{
                font-size: 30px;
                text-decoration: none;
                color: #000;
                font-weight: 700;
            }
            .view-about{
                p{
                    margin-top: 7px;
                    font-size: 20px;
                    color: #CCCCCC;
                }
            }
            .views-field.views-field-view-node{
                margin-top: 7px;
                background-color: #6E9BCA;
                margin-left: 33px;
                height: fit-content;
                padding-right: 6px;
                border-radius: 3px;
                span{
                    margin-top: 0;
                    a{
                        display: block;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 4px 0 5px 9px;
                        margin: 0px;
                        color: #fff;
                        text-align: center;
                    }
                }
            }
        }
        @media (max-width:1240px) {
            .view-content{
                padding: 0 10px;
                .views-field.views-field-view-node{
                    margin-left: 0;
                }
            }
        }
        @media (max-width:720px) {
            .view-content{
                .views-row{
                    display: flex;
                    flex-direction: column;
                    gap:0;
                    text-align: center;
                    .views-field.views-field-view-node{
                        width: max-content;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}