main{
    .region.region-content{
        padding: 0;
    }
    &>div>.row>.order-1>.region>.block,
    .region-breadcrumb{
        width: 1250px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width:1250px) {
            width: 100vw;
        }
    }
    #block-views-block-view-projects-block-1,
    #block-views-block-view-news-block-1{
        width: 100%;
    }
}
body.path-frontpage .block.block-system.block-system-main-block{
    display: none;
}
